<div class='overlay-background'>
  <form class='overlay-form user-change-pw'>
    <button class='overlay-exit' type='button'>x</button>
    <input type="password" name="passwords[old]" placeholder='Old Password'>
    <input type="password" name="passwords[new]" placeholder='New Password'>
    <input type="submit" value='Change Password'>
    <h6 class='form-message'></h6>
  </form>
</div>
