<input type="text" name="ingredient-amounts[]" placeholder='Amount' value='{{ingredient.amount}}'>
<span> of </span>
<input type="text" name="ingredient-names[]" placeholder='Ingredient Name' value='{{ingredient.name}}'>
<br>
