<div class='overlay-background'>
  <form class='overlay-form recipe-update'>
    <div class='recipe-header'>
      <input type="text" name="recipe[name]" placeholder='Recipe Name' value='{{recipe.name}}'>
      <div>
        <button class='overlay-exit' type='button'>x</button>
      </div>
    </div>
    <div class='ingredients'>
      {{#each recipe.ingredients as |ingredient|}}
        {{> ingredient-form ingredient=ingredient }}
      {{/each}}
    </div>
    <!-- <button class='ingredient-add' type='button'>+</button> -->
    <div class='steps'>
      {{#each recipe.steps as |step|}}
        {{> step-form step=step }}
      {{/each}}
    </div>
    <!-- <button class='step-add' type='button'>+</button> -->
    <input type="submit" value='Update Recipe'>
    <button class='show-recipe-delete' type='button'>Delete Recipe</button>
    <h6 class='form-message'></h6>
  </form>
</div>
