<div class='overlay-background'>
  <form class='overlay-form recipe-create'>
    <button class='overlay-exit' type='button'>x</button>
    <input type="text" name="recipe[name]" placeholder='Recipe Name'>
    <div class='ingredients'>
      {{> ingredient-form}}
    </div>
    <button class='ingredient-add' type='button'>+</button>
    <div class='steps'>
      {{> step-form}}
    </div>
    <button class='step-add' type='button'>+</button>
    <input type="submit" value='Publish Recipe'>
    <h6 class='form-message'></h6>
  </form>
</div>
