<form class='overlay-form user-sign-up'>
  <button class='overlay-exit' type='button'>x</button>
  <input type="text" name="cook[name]" placeholder='User Name'>
  <input type="email" name="credentials[email]" placeholder='Email'>
  <input type="password" name="credentials[password]" placeholder='Password'>
  <input type="password" name="credentials[password_confirmation]" placeholder='Password Confirmation'>
  <input type="submit" value='Sign Up'>
  <h6 class='form-message'></h6>
</form>
