$dark-gray: #212529;
$gray: #575757;
$light-gray: #cfd5cf;
$white: #dad7d2;
$black: #181a1b;
$light-green: #d2e8d2;
$dark-green: #77a477;
$transparent-black: rgba(0, 0, 0, .6);
$bright-red: #d70000;
$bright-green: #00d700;
