@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import './themes';

body {
  background-color: $background-light;
  font-family: 'Comfortaa', cursive;
}

header {
  align-items: center;
  background-color: $background-medium;
  border-bottom: 5px solid $background-dark;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.main-content,
.user-auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.form-header {
  margin-bottom: .5rem;
  width: 100%;
}

.form-footer {
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

.recipe-preview {
  align-content: flex-start;
  background-color: $background-medium;
  border: 5px solid $background-dark;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 15rem;
  margin: 1.75rem;
  padding: 1rem 2rem;
  width: 20rem;

  > h6 {
    text-align: left;
    width: 100%;
  }
}

.preview-buttons {
  margin-left: 1rem;
}

.overlay-form {
  background-color: $background-medium;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem 2rem;
}

.overlay-buttons {
  margin-left: 3rem;
}

.form-button {
  margin: .5rem 0;
}

.overlay-background {
  align-items: center;
  background-color: $overlay-dark;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.confirmation-background {
  align-items: center;
  background-color: $overlay-dark;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.oops {
  color: $text-light;
  margin-left: 2rem;
}

.login-message {
  margin-right: 1rem;
}

.form-message,
.login-message {
  color: $text-success;
}

.failed {
  color: $text-error;
}

.disable {
  display: none;
}
