@import './colors';

$background-dark: $dark-green;
$background-medium: $light-gray;
$background-light: $light-green;
$text-light: $white;
$overlay-dark: $transparent-black;
$text-error: $bright-red;
$text-success: $bright-green;
