@import './colors';

$background-dark: $black;
$background-medium: $dark-gray;
$background-light: $gray;
$text-light: $white;
$overlay-dark: $transparent-black;
$text-error: $bright-red;
$text-success: $bright-green;
